<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <h4><a th:href="@{/}">Front page</a></h4>
            <h4><a th:href="@{/published}">List news by time</a></h4>
            <h4><a th:href="@{/popular}">Most read news</a></h4>
            <ul>
                <li th:each="category : ${categories}">
                    <a th:href="@{/category/{name}(name=${category.name})}">
                        <span th:text="${category.name}">category</span>
                    </a>
                </li>
            </ul>
        </header>

    </body>
</html>