<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add author</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <form th:action="@{/modify/author/{id}(id=${news.id})}" method="POST">
            <p>Author: <input name="name"></input></p>
            <input type="submit" value="Add"></input>
        </form>
        <h4><a th:href="@{/modify/{id}(id=${news.id})}">Cancel</a></h4>
     
    </body>
</html>