<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fake News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Newest news</h1>

        <ul>
            <li th:each="subject : ${newsList}">
                <a th:href="@{/news/{id}(id=${subject.id})}">
                    <span th:text="${subject.title + ' ' + subject.lead}">subject and date</span>
                </a>
            </li>
        </ul>

        <ul><li>
                <a href="add">Add news</a>
            </li></ul>

    </body>
</html>