<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fake News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Add authors and categories</h1>

        <ul><li>
                <a th:href="@{/modify/category/{id}(id=${news.id})}">Add category</a>
            </li></ul>
        <ul><li>
                <a th:href="@{/modify/author/{id}(id=${news.id})}">Add author</a>
            </li></ul>
        <form th:action="@{/modify/{id}(id=${news.id})}" th:method="DELETE"><input type="submit" value="Remove news"/></form>
        <ul><li>
                <a th:href="@{/}">Ready!</a>
            </li></ul>

    </body>
</html>