<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fake News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Add authors and categories</h1>

        <ul><li>
                <a href="@{/news/{id}(id=${news.id})/modify/category}">Add category</a>
            </li></ul>
        <ul><li>
                <a href="@{/news/{id}(id=${news.id})/modify/author}">Add author</a>
            </li></ul>
        <form th:action="@{/news/{id}(id=${news.id})/modify}" th:method="DELETE"><input type="submit" value="Remove news"/></form>
        <ul><li>
                <a href="@{/}">Ready!</a>
            </li></ul>

    </body>
</html>