<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fake News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1><span th:text="${actor.title}">News</span></h1>

        <ul>
            <li>
                <span th:text="${actor.lead}">lead</span>

            </li>
        </ul>
        <ul>
            <li>
                <span th:text="${actor.text}">text</span>

            </li>
        </ul>


        <ul><li>
                <a href="/">Front page</a>
            </li></ul>

    </body>
</html>