<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fake News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1><span th:text="${news.title}">news</span></h1>
        <h4><span th:text="${news.releaseDate}">time</span></h4>
        Author(s):
        <ul>
            <li th:each="author : ${authors}">
                <span th:text="${author.name}">author</span>
            </li>
        </ul><br/>
        Categories:
        <ul>
            <li th:each="category : ${categories}">
                <span th:text="${category.name}">category</span>
            </li>
        </ul><br/>

        <div>
        <span th:text="${news.text}">text</span><br/>
        </div>

        <h4>
            <a th:href="@{/modify/{id}(id=${news.id})}">Edit news</a>
        </h4>

    </body>
</html>