<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fake News</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1><span th:text="${news.title}">News</span></h1>
        <h2><span th:text="${news.releaseDate}">time</span></h2>

        <ul>
            <li>
                <span th:text="${news.lead}">lead</span>

            </li>
        </ul>
        <ul>
            <li>
                <span th:text="${news.text}">text</span>

            </li>
        </ul>



        <h4>
            <a href="@{/modify}">Edit news</a>
        </h4>

    </body>
</html>